/* variables */

$background: #222;
$fontcolor: white;
$boxshadowcol: rgba(10, 98, 170, 0.041);
$boxshadowcolhover: rgba(10, 98, 170, 0.137);
$boxshadowcolhoverv2: rgba(10, 98, 170, 0.082);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100%;
    background: linear-gradient(145deg, #000, rgb(28, 77, 105));
    animation: inmove 15s ease infinite;
    background-size: 400% 400%;
}

@keyframes inmove {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}



/* Main Content */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: $fontcolor;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.nav-menu a {
    padding: 1.1vh;
    border-radius: 25px;
    text-decoration: none;
    align-items: center;
    color: $fontcolor;
    font-weight: bold;
    background-clip: padding-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow:
        inset -0.75px -0.5px $boxshadowcol,
        inset +0.75px +0.5px $boxshadowcol,
        3px 2px 10px $boxshadowcol,
        inset 0px 0px 10px 5px $boxshadowcol,
        inset 0px 0px 40px 5px $boxshadowcol;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
}


.nav-menu a:hover{
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow:
        inset -0.75px -0.5px $boxshadowcolhover,
        inset +0.75px +0.5px $boxshadowcolhover,
        3px 2px 10px $boxshadowcolhover,
        inset 0px 0px 10px 5px $boxshadowcolhover,
        inset 0px 0px 40px 5px $boxshadowcolhover;
    position: relative;
    overflow: hidden;
}

.logo {
    width: 75px;
    height: 25px;  
}

.nav-menu {
    display: flex;
    gap: 15px;
}

.nav-menu li {
    list-style: none;
}

.burger-btn {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    background: none;
    border: none;
    cursor: pointer;
}

.burger-btn span {
    width: 100%;
    height: 3px;
    background-color: $fontcolor;
    border-radius: 2px;
    transition: 0.3s;
}

/* Main */

.main {
    text-align: center;
    align-content: center;
    height: 100vh;
    color: $fontcolor;
    background-size: 200% 200%;
    position: relative;
    z-index: 1;
}

.main h1 {
    font-size: 120px;
}

.main .pc-img{
    position: absolute;
    left: 10vh;
    filter: blur(5px);
    z-index: -10;
    animation: movesl 5s ease infinite;
}

.main .phone-img {
    position: absolute;
    right: 10vh;
    height: 20vh;
    filter: blur(5px);
    z-index: -10;
    animation: movesl 5s ease infinite;
}

@keyframes movesl {
    0% {
        transform: translateY(-10px);
    } 50% {
        transform: translateY(0);
    } 100% {
        transform: translateY(-10px);
    }
}

.act {
    padding: 2vh 4vh;
    display: inline-flex;
    border-radius: 25px;
    text-decoration: none;
    margin-top: 10vh;
    height: 3vh;
    align-items: center;
    color: $fontcolor;
    font-size: 24px;
    font-weight: bold;
    border: 2px solid transparent;
    background-clip: padding-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    box-shadow:
        inset -0.75px -0.5px $boxshadowcol,
        inset +0.75px +0.5px $boxshadowcol,
        3px 2px 10px $boxshadowcol,
        inset 0px 0px 10px 5px $boxshadowcol,
        inset 0px 0px 40px 5px $boxshadowcol;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
}

.main a:hover{
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow:
        inset -0.75px -0.5px $boxshadowcolhoverv2,
        inset +0.75px +0.5px $boxshadowcolhoverv2,
        3px 2px 10px $boxshadowcolhoverv2,
        inset 0px 0px 10px 5px $boxshadowcolhoverv2,
        inset 0px 0px 40px 5px $boxshadowcolhoverv2;
    position: relative;
    overflow: hidden;
}

.submain {
    height: 100vh;
    color: $fontcolor;
    display: flex;
    flex-direction: column;
    gap: 20vh;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.main, .submain {
    scroll-snap-align: start;
}

.submain .list {
    width: 80vw;
    max-width: 800px;
    padding: 20px;
    display: grid;
    grid-template-columns: 7fr 7fr;
    flex-direction: column;
    gap: 20px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow:
        inset -0.75px -0.5px $boxshadowcolhoverv2,
        inset +0.75px +0.5px $boxshadowcolhoverv2,
        3px 2px 10px $boxshadowcolhoverv2,
        inset 0px 0px 10px 5px $boxshadowcolhoverv2,
        inset 0px 0px 40px 5px $boxshadowcolhoverv2;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.3);
}

.submain .list .box {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 1.5rem;
    color: $fontcolor;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.submain .list .box:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

/* Image Styling */
.submain .list .box img {
    width: 20%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 15px;
}

.submain .list .box h3 {
    font-size: 1.6rem;
    margin-bottom: 10px;
    color: #fff;
}

.submain .list .box p {
    font-size: 1rem;
    margin-bottom: 20px;
    color: #f0f0f0;
    opacity: 0.8;
}

.submain .list .box .btn {
    margin-top: auto;
    padding: 10px 20px;
    color: $fontcolor;
    border-radius: 20px;
    font-size: 1.2rem;
    text-decoration: none;
    text-align: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    box-shadow:
        inset -0.75px -0.5px $boxshadowcol,
        inset +0.75px +0.5px $boxshadowcol,
        3px 2px 10px $boxshadowcol,
        inset 0px 0px 10px 5px $boxshadowcol,
        inset 0px 0px 40px 5px $boxshadowcol;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
}

.submain .list .box .btn:hover {
    background-color: rgba(10, 98, 170, 0.205);
}

/* Footer */

footer {
    display: flex;
    padding: 20px;
    background: $background;
    color: $fontcolor;
    justify-content: space-around;
    flex-wrap: wrap;
}

.loyality {
    flex-direction: column;
}

.loyality img {
    width: 16px;
    height: 16px;
}

.navigations a {
    color: $fontcolor;
    text-decoration: none;
    transition: all 0.3s ease;
}

.navigations a:hover {
    color: rgb(138, 138, 138);
    text-decoration: underline;
}

/* Supports */

@supports (backdrop-filter: blur(10px)){
    header {
        background-color: rgba(0,0,0,0.2);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }
}

/* Adaptations */

@media (max-width: 768px) {
    .burger-btn {
        display: flex;
    }

    header{
        max-width: 100vw;
        box-sizing: border-box;
        flex-wrap: wrap;
        padding: 10px 15px;
    }

    .navigations,
    .loyality {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .nav-menu {
        position: absolute;
        top: 70px;
        right: 20px;
        background: $fontcolor;

        padding: 15px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        display: none;
    }

    .nav-menu.open {
        display: grid;
        grid-template-rows: 1fr 1fr;
        background: none;
    }

    .nav-menu ul {
        flex-direction: column;
        gap: 15px;
    }
}
